<div class="main-app">
  <div class="main-header">
    <h1>Five night`s at ITMO</h1>
  </div>
  <div class="menu">
    <a href="/profile"><img src="/images/login.png" alt="Login-img" class="menu-icon"></a>
    <a href="/home"><img src="/images/home.png" alt="Home-img" class="menu-icon"></a>
    <a href="/start"><img src="/images/start.png" alt="Start-img" class="menu-icon"></a>
  </div>
  <router-outlet>
    <!-- Отрисовка контента -->
  </router-outlet>
  <div class="footer">
    <footer>
      <p>© 2024 <a href="https://frizyyu.github.io" title="my-site">frizyyu</a> | Все права беззащитны</p>
    </footer>
  </div>
</div>
